body {
   background-color: #000000;
   background-image: url(../assets/images/phonechat.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: 100% 510px;
   padding-bottom: 200px;
   margin-top: 12%;
 }

 img {
   boder: 0;
 }
 
